In [2]:
import numpy as np # linear algebra
import pandas as pd
import json

# Assuming the file is named 'data.json'
file_name = './../../preprocessed_data.json'

# Open and load the JSON file
with open(file_name, 'r') as file:
    data = json.load(file)

In [3]:
# Normalize the JSON data into a flat table
df = pd.json_normalize(data)
df.columns

Index(['id.0', 'id.1', 'id.2', 'id.3', 'id.4', 'id.5', 'id.6', 'id.7', 'id.8',
       'id.9',
       ...
       'comments.2417', 'comments.2418', 'comments.2419', 'comments.2420',
       'comments.2421', 'comments.2422', 'comments.2423', 'comments.2424',
       'comments.2425', 'comments.2426'],
      dtype='object', length=26697)

In [4]:
df = pd.DataFrame(data)
df = df.set_index('id')
df = df.reset_index(drop=True)
df.sample(1)

,name,text,accecpted,submission,topics,difficulty,link,website,upvotes,comments
649,Loud and Rich,group peopl label person differ amount money d...,52100,86400,"Array,Depth-First Search,Graph,Topological Sort,",Medium,https://leetcode.com/problems/loud-and-rich,leetcode,1300,35

In [5]:
train_sample = df[['name', 'text', 'topics', 'accecpted', 'submission', 'difficulty', 'upvotes', 'comments', 'link']]
train_sample.head()

,name,text,topics,accecpted,submission,difficulty,upvotes,comments,link
0,Minimum String Length After Removing Substrings,string consist uppercas english letter appli o...,"String,Stack,Simulation,",204900,262700,Easy,926,99,https://leetcode.com/problems/minimum-string-l...
1,Two Sum,array integ num integ target return indic numb...,"Array,Hash Table,",14800000,27400000,Easy,58400,1000,https://leetcode.com/problems/two-sum
2,Add Two Numbers,nonempti link list repres nonneg integ digit s...,"Linked List,Math,Recursion,",5000000,11400000,Medium,31800,679,https://leetcode.com/problems/add-two-numbers
3,Median of Two Sorted Arrays,sort array nums1 nums2 size respect return med...,"Array,Binary Search,Divide and Conquer,",2900000,7000000,Hard,28800,512,https://leetcode.com/problems/median-of-two-so...
4,Zigzag Conversion,string paypalishir written zigzag pattern numb...,"String,",1500000,3000000,Medium,7900,318,https://leetcode.com/problems/zigzag-conversion

In [6]:
# Assuming your DataFrame has an 'accepted' column with numerical values
train_sample['accecpted'] = 'A' + df['accecpted'].astype(str)
train_sample['submission'] = 'S' + df['submission'].astype(str)
train_sample['upvotes'] = 'U' + df['upvotes'].astype(str)
train_sample['comments'] = 'C' + df['comments'].astype(str)

# Display the updated DataFrame
train_sample.head()

/tmp/ipykernel_10667/3081289312.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_sample['accecpted'] = 'A' + df['accecpted'].astype(str)
/tmp/ipykernel_10667/3081289312.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_sample['submission'] = 'S' + df['submission'].astype(str)
/tmp/ipykernel_10667/3081289312.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_sample['upvotes'] = 'U' + df['upvotes'].astype(str)
/tmp/ipykernel_10667/3081289312.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  train_sample['comments'] = 'C' + df['comments'].astype(str)

,name,text,topics,accecpted,submission,difficulty,upvotes,comments,link
0,Minimum String Length After Removing Substrings,string consist uppercas english letter appli o...,"String,Stack,Simulation,",A204900,S262700,Easy,U926,C99,https://leetcode.com/problems/minimum-string-l...
1,Two Sum,array integ num integ target return indic numb...,"Array,Hash Table,",A14800000,S27400000,Easy,U58400,C1000,https://leetcode.com/problems/two-sum
2,Add Two Numbers,nonempti link list repres nonneg integ digit s...,"Linked List,Math,Recursion,",A5000000,S11400000,Medium,U31800,C679,https://leetcode.com/problems/add-two-numbers
3,Median of Two Sorted Arrays,sort array nums1 nums2 size respect return med...,"Array,Binary Search,Divide and Conquer,",A2900000,S7000000,Hard,U28800,C512,https://leetcode.com/problems/median-of-two-so...
4,Zigzag Conversion,string paypalishir written zigzag pattern numb...,"String,",A1500000,S3000000,Medium,U7900,C318,https://leetcode.com/problems/zigzag-conversion

In [7]:
train_sample.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2427 entries, 0 to 2426
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        2427 non-null   object
 1   text        2427 non-null   object
 2   topics      2427 non-null   object
 3   accecpted   2427 non-null   object
 4   submission  2427 non-null   object
 5   difficulty  2427 non-null   object
 6   upvotes     2427 non-null   object
 7   comments    2427 non-null   object
 8   link        2427 non-null   object
dtypes: object(9)
memory usage: 170.8+ KB

In [8]:
train_sample['tags'] = train_sample['name'] + train_sample['topics'] + train_sample['text'] + train_sample['accecpted'] + train_sample['submission'] + train_sample['difficulty'] + train_sample['upvotes'] + train_sample['comments']
train_sample['tags']

0       Minimum String Length After Removing Substring...
1       Two SumArray,Hash Table,array integ num integ ...
2       Add Two NumbersLinked List,Math,Recursion,none...
3       Median of Two Sorted ArraysArray,Binary Search...
4       Zigzag ConversionString,string paypalishir wri...
                              ...
2422    Check if Two Chessboard Squares Have the Same ...
2423    K-th Nearest Obstacle QueriesArray,Heap (Prior...
2424    Select Cells in Grid With Maximum ScoreArray,D...
2425    Maximum XOR Score Subarray QueriesArray,Dynami...
2426    Convert Date to BinaryMath,String,string date ...
Name: tags, Length: 2427, dtype: object

In [11]:
final_sample = train_sample.drop(columns=['text','topics','accecpted','submission','upvotes','difficulty','comments'])
final_sample.sample(4)

,name,link,tags
1878,Take K of Each Character From Left and Right,https://leetcode.com/problems/take-k-of-each-c...,Take K of Each Character From Left and RightHa...
959,Students and Examinations,https://leetcode.com/problems/students-and-exa...,"Students and ExaminationsDatabase,sql schema p..."
306,Binary Watch,https://leetcode.com/problems/binary-watch,"Binary WatchBacktracking,Bit Manipulation,bina..."
1138,Number of Good Pairs,https://leetcode.com/problems/number-of-good-p...,"Number of Good PairsArray,Hash Table,Math,Coun..."

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')

In [16]:
tr_vector = cv.fit_transform(final_sample['tags']).toarray()
tr_vector.shape

(2427, 5000)

In [17]:
from sklearn.metrics.pairwise import cosine_similarity
similarity = cosine_similarity(tr_vector)
similarity

array([[1.        , 0.14750363, 0.11777342, ..., 0.09986987, 0.09358109,
        0.16507337],
       [0.14750363, 1.        , 0.33389486, ..., 0.18055125, 0.24108431,
        0.19273628],
       [0.11777342, 0.33389486, 1.        , ..., 0.14603231, 0.09578568,
        0.19946925],
       ...,
       [0.09986987, 0.18055125, 0.14603231, ..., 1.        , 0.19854911,
        0.10423597],
       [0.09358109, 0.24108431, 0.09578568, ..., 0.19854911, 1.        ,
        0.07520763],
       [0.16507337, 0.19273628, 0.19946925, ..., 0.10423597, 0.07520763,
        1.        ]])

In [18]:
final_sample[final_sample['name'] == 'Two Sum'].index[0]

np.int64(1)

In [28]:
def recommend(que, simil, list_data):
  index = list_data[list_data['name'] == que].index[0]
  distances = sorted(list(enumerate(simil[index])),reverse=True,key = lambda x: x[1])
  for i in distances[1:6]:
    print(list_data.iloc[i[0]]['name'])

recommend('Median of Two Sorted Arrays', similarity, final_sample)

Merge Sorted Array
Intersection of Two Arrays
Intersection of Two Arrays II
Two Out of Three
Advantage Shuffle

In [34]:
import pickle
import marshal

fnc= marshal.dumps(recommend.__code__)
with open("traditional_usage_method.mar", "wb") as file:
  file.write(fnc)

pickle.dump(final_sample,open('traditional_ques_list.pkl','wb'))
pickle.dump(similarity,open('traditional_similarity.pkl','wb'))

## Using the methods and similarity models saved earlier

In [38]:
import types

tr_recommend_code= marshal.load(open('traditional_usage_method.mar', 'rb'))
new_sim= pickle.load(open('traditional_similarity.pkl','rb'))
new_data= pickle.load(open('traditional_ques_list.pkl','rb'))

traditional_recommend = types.FunctionType(tr_recommend_code, globals(), "some_func_name")

In [40]:
traditional_recommend("Two Out of Three", new_sim, new_data)

Bitwise XOR of All Pairings
Intersection of Two Arrays
Find the Difference of Two Arrays
4Sum II
Get Maximum in Generated Array